.card-container {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  background: #fefefe;
  box-shadow: 0 4px 8px #333;
  width: 500px;
  margin: 10px;
}